.wrapper {padding: 0; margin: 0; box-sizing: border-box; text-decoration: none;
            list-style: none; font-family: 'Open Sans', sans-serif; }

body {
    height: 800px;
    box-sizing: border-box;
}

.navegacao {
    height: 5%;
    border-bottom: 1px solid #555;
    background: #333;
}

.conteudo {
    height: 95%;
    display: flex;
    background: #333;
}

/* Navegação */

.logo span {
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2em;
    color: #fff;
    font-family: 'Lobster', cursive;
}

/******* Período **************/

.periodo {
    width: 15%;
    background: #444;
    color: #fff;
    border-right: 1px solid #555;
}

.periodo_meses {
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    left: 30px;
    width: 60%;
}

.periodo a {
    position: relative;
    line-height: 2em;
    color: #fff;
    display: block;
    text-align: center;
}

.periodo h1, .tabela_periodos h1 {
    text-align: center;
    padding-top: 0.5em;
    font-weight: bold;
}

/******* Tabela Periodos **************/

.tabela_periodos { 
    background: #444;
    border-left: 1px solid #555;
}

.container_card_agua {
    display: flex;
    margin: 0.5em;
}

.container_card_agua h3 {
    color: #fff;
    font-weight: bold;
}

.card_agua, #result {
    position: relative;
    left: 1em;
    color: greenyellow;
}

.card_agua {
    top: 1em;
    margin-left: 0.8rem;
    z-index: 9999;
}

.glass {
    color: #fff;
    position: relative;
    left: 0.1rem;
    top: 0.5rem;
}

.cardNotas {
    color: #fff;;
}

#result {
    top: 0.1em;
    font-size: 1.5em;
    font-weight: bold;
}

#result {
    margin-left: 1em;;
}

.tabela_conteudo {
    position: relative;
    bottom: 1em;
}

.tabela_conteudo h1, .tabela_conteudo h4 {
    color: #fff;
    font-weight: bold;
}

.semana {
    padding: 0.5em;
    margin-bottom: 1em;;
    border-radius: 10px;
    width: 26rem;
    position: relative;
    font-weight: bold;
    left: 1rem;
}

.cardSemana {
    margin-left: 1.5rem;
    color: #fff;
}

.cardSemana input:checked {
    background: #fff;
}

.subCardSemana {
    display: flex;
}

#label_semana {
    position: relative;
    left: 10rem;
    top: 1rem;
    text-transform: uppercase;
    color: #fff;
}

#checkViewStatus {
    color: red;
}

.cardData {
    border-radius: 10px;
    position: relative;
    left: 6.5rem;
    width: 40%;
    text-align: center;
    font-size: 20px;
    padding: 1rem 0;
    margin: 1rem 0;;
}

.card_estudos {
    border: 1px solid #fff;
    margin-bottom: 1em;
    position: relative;
    left: 7rem;
    width: 50%;;
    border-radius: 10px;
    text-align: center;
    padding: 1em 0;
}

.card_estudos .input 
{ position: relative; right: 0.5rem; }

.card_estudos h4, .cardNotas {
    text-align: left;
    margin-left: 1em;
}
.subCard {
    padding-left: 2em;
    font-size: 0.7em;;
}

#btn-adicionar {
    position: relative;
    left: 11.5rem;
    margin-bottom: 1rem;
}

/******* Tarefas **************/

.tarefas h1, .periodo h1 {
    padding-bottom: 1em;
}

.tabela_periodos {
    width: 35%;
   
}

.tarefas {
    width: 55%;
    text-align: center;
    height: 100%;
    margin: 0 auto;
    padding: 1em;
    background: #333;
    color: #fff;
    font-weight: bold;
}

.table {
    color: #444; 
    font-weight: bold;
    background: #fff;
}

.mensagem_sucesso {
    background: green;
    border-radius: 10px;
    height: 70px;
    margin-bottom: 1rem;
}

.mensagem_sucesso p {
    position: relative;
    top: 35%;
}
